"""{{ object_name_singular | capitalize }} models."""
from typing import Optional

from pydantic import BaseModel, {% if add_example_model %}EmailStr, {% endif %}Field

from .pagination import Pagination


class {{ object_name_singular | capitalize }}Base(BaseModel):
    """BaseModel {{ object_name_singular | capitalize }} class."""
    {% if add_example_model -%}
    name: str = Field(examples=["Example name"])
    description: Optional[str] = Field(default=None, examples=["Example description"])
    email: EmailStr = Field(examples=["test@example.com"])
{% endif %}

class {{ object_name_singular | capitalize }}Create({{ object_name_singular | capitalize }}Base):
    """Create {{ object_name_singular | capitalize }} class."""


class {{ object_name_singular | capitalize }}Update({{ object_name_singular | capitalize }}Base):
    """Update {{ object_name_singular | capitalize }} class."""


class {{ object_name_singular | capitalize }}({{ object_name_singular | capitalize }}Base):
    """{{ object_name_singular | capitalize }} class."""
    id: int = Field(examples=[1])


class {{ object_name_singular | capitalize }}Public({{ object_name_singular | capitalize }}Base):
    """Public {{ object_name_singular | capitalize }} class."""


class {{ object_name_plural | capitalize }}Public(BaseModel):
    """Public {{ object_name_plural | capitalize }} class."""
    data: list[{{ object_name_singular | capitalize }}Public]
    pagination: Pagination = Field(examples=[{"page": 0, "size": 100, "last_page": 1, "total_pages": 2, "total_count": 200}])
